.bs-countdown-timer {
	padding-top: 40px;
	padding-bottom: 10px;
	
}
.bs-countdown-timer .col-xs-3 {
	text-align: center;
}
.bs-countdown-timer .col-xs-3:after {
	content: ' ';
	font-size: 48px;
	color: rgba(0,0,0,0.4);
	position: absolute;
	right: -6px;
	top: 0;
}
.bs-countdown-timer .col-xs-3:last-child::after {
	content: '';
	display: none;
}
.bs-countdown-timer .numcard {
	border: none;
	border-radius: 8px;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	background: rgba(0,0,0,.05);
	padding-top: 20px;
}
.bs-countdown-timer .numcard-number {
	font-size: 60px;
	line-height: 42px;
    display: block;
}
.bs-countdown-timer .numcard-desc {
	font-size: 20px;
	padding: 10px 0px 0px;
	display: block;
	color: rgba(255,255,255,.5);
}

